body{
    margin: 0px;
    background-color:white;
    width: 100vw;
}
/* ----------------------------------------- header theme */
.first1{
    background-color: #7A08FA;
    margin: 20px ;
    border-radius: 10px;
    border: solid black 5px;
}
.second1{
    background-color: red;
    margin: 20px ;
    border-radius: 10px;
    border: solid white 5px;
}
/* ------------------------------------------------ */

/* ----------------------------------------- Навигационная панель */ 
.header-line{
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
}
.nav{
    text-decoration: none;
    color: black;
    margin-right: 2vw;
    font-size: 26px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    transition: 1s;
}
.nav:hover{
    color:white;
}
/* ----------------------------------------- Лого - Кнопка для смены темы */ 
.btn{
    background: transparent;
    border: none !important;
    font-size:0;
}
.logo{
    height: 60px;
    width: 60px;
    margin-right: 2vw;
}
/* ---------------------------------------------------------------------- */ 
.cart-icon{
    height: 50px;
    width: 50px;
}
.first2{
    background-color: #7A08FA;
    margin: 20px ;
    border-radius: 10px;
    border: solid black 5px;
}
.second2{
    background-color: red;
    margin: 20px ;
    border-radius: 10px;
    border: solid white 5px;
}
.main-icon{
    text-align: center;
}
.chipizdrik{
    margin:30px;
    height: 500px;
    width: 95%;
    border: solid black 5px;
    border-radius: 10px;
}
.first3{
    background-color: #7A08FA;
    margin: 20px;
    border-radius: 10px;
    height: 150px;
    border: solid black 5px;
}
.second3{
    background-color: red;
    margin: 20px ;
    border-radius: 10px;
    height: 150px;
    border: solid white 5px;
}
html::-webkit-scrollbar{
    width:0px;
}
@media screen and (max-width: 800px) {
    .chipizdrik{
        margin:10px;
    }
}