:root{
    --width-size: calc(10vw + 10vw);
    --height-size: calc(13vw + 13vw);
    --icon-height-size: calc(12vw + 12vw);
    --font-size: calc(1vw + 1vw);
}
body{
    margin: 0px;
    background-color:white;
    width: 100vw;
}
/* ----------------------------------------- header theme */
.first1{
    background-color: #7A08FA;
    margin: 20px ;
    border-radius: 10px;
    border: solid black calc(var(--font-size)*0.17);
}
.second1{
    background-color: red;
    margin: 20px ;
    border-radius: 10px;
    border: solid white calc(var(--font-size)*0.17);
}
/* ------------------------------------------------ */

/* ----------------------------------------- Навигационная панель */ 
.header-line{
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
}
.nav{
    text-decoration: none;
    color: black;
    margin-right: 2vw;
    font-size: 26px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    transition: 1s;
}
.nav:hover{
    color:white;
}
/* ----------------------------------------- Лого - Кнопка для смены темы */ 
.btn{
    background: transparent;
    border: none !important;
    font-size:0;
}
.logo{
    height: 60px;
    width: 60px;
    margin-right: 2vw;
}
/* ---------------------------------------------------------------------- */ 
.cart-icon{
    height: 50px;
    width: 50px;
}
.first2{
    background-color: #7A08FA;
    margin: 20px ;
    border-radius: 10px;
    border: solid black calc(var(--font-size)*0.17);
}
.second2{
    background-color: red;
    margin: 20px ;
    border-radius: 10px;
    border: solid white calc(var(--font-size)*0.17);
}
.main-icon{
    text-align: center;
}
.chipizdrik{
    margin:calc(var(--font-size)*0.17);
    margin-top: 30px;
    height: calc(var(--height-size)*2);
    width: calc(var(--width-size)*4.6);
    border: solid black calc(var(--font-size)*0.17);
    border-radius: 10px;
}
.first3{
    background-color: #7A08FA;
    margin: 20px;
    border-radius: 10px;
    height: 150px;
    border: solid black calc(var(--font-size)*0.17);
}
.second3{
    background-color: red;
    margin: 20px ;
    border-radius: 10px;
    height: 150px;
    border: solid white calc(var(--font-size)*0.17);
}
.comments{
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    padding-right: 4vw;
    padding-left: 3vw;
    gap: 10px;
    top: 10px;
    margin-bottom:30px;
    text-align: center;
}
.comm-line{
    display: flex;
    align-items: center;
    height: calc(var(--height-size)*0.2);
    border: solid black calc(var(--font-size)*0.17);
    border-radius: 10px;
}
.first4{
    color:black;
    background-color: white;
    height: calc(var(--height-size)*0.75);
    width: calc(var(--width-size)*0.7);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    border: solid black calc(var(--font-size)*0.17);
}
.second4{
    color:white;
    background-image: url('../images/disguise3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(var(--height-size)*0.75);
    width: calc(var(--width-size)*0.7);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    border: solid white calc(var(--font-size)*0.17);
}
h1{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}
.avotar{
    height: calc(var(--height-size)*0.12);
    width: calc(var(--width-size)*0.15);
    border-radius: 50px;
    border: solid 3px black;
    margin-right: 2vw;
    margin-left: 1vw;
}
.nik{
    font-size: calc(var(--font-size)*0.8);
    font-weight: 700;
    font-family: Oswald, sans-serif;
}
.comm{
    font-weight: 700;
    text-align: left;
    font-size: calc(var(--font-size)*0.8);
    font-family: Oswald, sans-serif;
    margin-top: 10px;
    padding-left: 1vw;
    border-radius: 10px;
    border: solid black calc(var(--font-size)*0.17);
    height: calc(var(--height-size)*0.465);
}
html::-webkit-scrollbar{
    width:0px;
}
@media screen and (max-width: 1150px) {
    .chipizdrik{
        margin:calc(var(--font-size)*0.17);
        margin-top: 20px;
    }
    .comments{
        grid-template-columns: repeat(4, 25%);
        padding-right: 4vw;
        padding-left: 4vw;
    }
    .comm{
        height: calc(var(--height-size)*0.465);
    }
    .first4{
        height: calc(var(--height-size)*0.8);
        width: calc(var(--width-size)*0.8);
        padding: 10px;
    }
    .second4{
        height: calc(var(--height-size)*0.8);
        width: calc(var(--width-size)*0.8);
        padding: 10px;
    }
}

@media screen and (max-width: 800px) {
    .nav{
        font-size: calc(var(--font-size)*1.5);
    }
    .chipizdrik{
        margin:calc(var(--font-size)*0.17);
        margin-top: 10px;
    }
    .comments{
        grid-template-columns: repeat(3, 33%);
        padding-right: 4vw;
        padding-left: 4vw;
    }
    .comm{
        height: calc(var(--height-size)*0.8);
    }
    .first4{
        height: calc(var(--height-size)*1.1);
        width: calc(var(--width-size)*1.1);
        padding: 10px;
    }
    .second4{
        height: calc(var(--height-size)*1.1);
        width: calc(var(--width-size)*1.1);
        padding: 10px;
    }
}