:root{
    --width-size: calc(10vw + 10vw);
    --height-size: calc(13vw + 13vw);
    --icon-height-size: calc(12vw + 12vw);
    --font-size: calc(1vw + 1vw);
}
*{
    cursor:url("../images/emblem_32x32.png"),pointer;
}
body{
    margin: 0px;
    background-color:white;
    width: 100vw;
}
/* ----------------------------------------- header theme */
.first1{
    background-color: #7A08FA;
    margin: 20px ;
    border-radius: 10px;
    border: solid black calc(var(--font-size)*0.17);
}
.second1{
    background-color: red;
    margin: 20px ;
    border-radius: 10px;
    border: solid white calc(var(--font-size)*0.17);
}
/* ------------------------------------------------ */

/* ----------------------------------------- Навигационная панель */ 
.header-line{
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
}
.nav{
    text-decoration: none;
    color: black;
    margin-right: 2vw;
    font-size: 26px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    transition: 1s;
}
.nav:hover{
    color:white;
}
/* ----------------------------------------- Лого - Кнопка для смены темы */ 
.btn{
    background: transparent;
    border: none !important;
    font-size:0;
}
.logo{
    height: 60px;
    width: 60px;
    margin-right: 2vw;
}
/* ---------------------------------------------------------------------- */ 
.cart-icon{
    height: 50px;
    width: 50px;
}
.first2{
    background-color: #7A08FA;
    margin: 20px ;
    border-radius: 10px;
    border: solid black calc(var(--font-size)*0.17);
}
.second2{
    background-color: red;
    margin: 20px ;
    border-radius: 10px;
    border: solid white calc(var(--font-size)*0.17);
}
.first3{
    background-color: #7A08FA;
    margin: 20px;
    border-radius: 10px;
    height: 150px;
    border: solid black calc(var(--font-size)*0.17);
}
.second3{
    background-color: red;
    margin: 20px ;
    border-radius: 10px;
    height: 150px;
    border: solid white calc(var(--font-size)*0.17);
}

h1{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}
.list{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    padding-right: 4vw;
    padding-left: 4vw;
    gap: 10px;
    top: 10px;
    margin-bottom:60px;
    margin-right: calc(var(--width-size)*0.40);
    margin-left: calc(var(--width-size)*0.55);
    text-align: center;
}
.first4{
    color:black;
    background-color: white;
    height: calc(var(--height-size)*0.75);
    width: calc(var(--width-size)*0.7);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    border: solid black calc(var(--font-size)*0.17);
    text-align: center;
}
.second4{
    color:black;
    background-image: url('../images/disguise3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(var(--height-size)*0.75);
    width: calc(var(--width-size)*0.7);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    border: solid white calc(var(--font-size)*0.17);
    text-align: center;
}
.kartinka{
    height: calc(var(--icon-height-size)*0.4);
    width: calc(var(--width-size)*0.5);
    margin: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
}
.pr{
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    font-size: calc(var(--font-size)*0.8);
    margin-bottom: 10px;
    margin-top: 10px;
}
.comm{
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    font-size: calc(var(--font-size)*0.6);
    margin-top: 10px;
}
.rofl{
    text-decoration: line-through;
}
li{
    font-size: calc(var(--font-size)*0.8);
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
}

html::-webkit-scrollbar{
    width:0px;
}
@media screen and (max-width: 1150px) {
    .pr{
        margin-bottom: 0px;
        margin-top: 5px;
    }
    li{
        font-size: calc(var(--font-size)*1.2);
    }
    
}

@media screen and (max-width: 800px) {
    .nav{
        font-size: calc(var(--font-size)*1.5);
    }
    .comm{
        margin-top: 5px;
    }
    li{
        font-size: calc(var(--font-size)*1.5);
    }
    

}