body{
    margin: 0px;
    background-color:white;
    width: 100vw;
}
/* ----------------------------------------- header theme */
.first1{
    background-color: #7A08FA;
    margin: 20px ;
    border-radius: 10px;
    border: solid black 5px;
}
.second1{
    background-color: red;
    margin: 20px ;
    border-radius: 10px;
    border: solid white 5px;
}
/* ------------------------------------------------ */

/* ----------------------------------------- Навигационная панель */ 
.header-line{
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
}
.nav{
    text-decoration: none;
    color: black;
    margin-right: 2vw;
    font-size: 26px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    transition: 1s;
}
.nav:hover{
    color:white;
}
/* ----------------------------------------- Лого - Кнопка для смены темы */ 
.btn{
    background: transparent;
    border: none !important;
    font-size:0;
}
.logo{
    height: 60px;
    width: 60px;
    margin-right: 2vw;
}
/* ---------------------------------------------------------------------- */ 
.cart-icon{
    height: 50px;
    width: 50px;
}
/* .registration{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-right: 5vw;
    background-color: white;
    padding:10px;
    border-radius: 10px;
    border-color: black;
    font-weight: 500;
    font-family: 'Comfortaa', cursive;
    margin-left: 82%;
    position: absolute;
}
.enter{
    text-decoration: none;
    color: black;
    font-size: 20px;
    background-color: white;
    padding:10px;
    border-radius: 10px;
    border-color: black;
    font-weight: 500;
    font-family: 'Comfortaa', cursive;
    margin-left: 76%;
    position: absolute;
} */
/* -------------------------------------------------------------- */

/* ----------------------------------------- Товары */ 
.packages{
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    padding-right: 4vw;
    padding-left: 3vw;
    gap: 10px;
    top: 10px;
    margin-bottom:30px;
    text-align: center;
}
.first4{
    color:black;
    background-color: white;
    height: 300px;
    width: 220px;
    border-radius: 10px;
    padding: 10px;
    transition: 1s;
    margin-top: 20px;
    border: solid black 5px;
}
.second4{
    color:black;
    background-image: url('../images/disguise3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 220px;
    border-radius: 10px;
    padding: 10px;
    transition: 1s;
    margin-top: 20px;
    border: solid white 5px;
}
.package:hover{
    transform: scale(1.1);
}
.product-icon{
    height: 200px;
    width: 200px;
    margin: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    border: solid #7A08FA 0px;
}
.name-product{
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    height: 6vh;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Agbalumo', cursive;
}
.price-product{
    text-align: left;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.but{
    background: transparent;
    text-align: center;
    height: 25px;
    border-radius: 10px;
    cursor: pointer;
}
.empty{
    color:black;
    background-color: white;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-left: 10px;
    padding: 0px;
    margin-top: 20px;
    /* margin-left: 200px; */
}
.empty-icon{
    height: 300px;
    width: 300px;
    border: solid black 5px;
    border-radius: 10px;
}
.price-empty{
    text-align: left;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: left;
}
.empty-name{
    text-align: left;
    font-weight: 700;
    font-size: 28px;
    margin-top: 5px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-family: 'Oswald', sans-serif;
}
.item-line{
    display: flex;
    text-align: center;
    width: 800px;
}
.rare{
    text-align: left;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 28px;
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
    color: blueviolet;
}
.rar{
    text-align: left;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 28px;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
}
.treasure{
    text-align: left;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 28px;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
}
.data{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 28px;
}
/* ------------------------------------------------ */ 

/* ----------------------------------------- main theme */
.first2{
    background-color: #7A08FA;
    margin: 20px ;
    border-radius: 10px;
    padding-bottom:40px;
    border: solid black 5px;
}
.second2{
    background-color: red;
    margin: 20px ;
    border-radius: 10px;
    padding-bottom:40px;
    border: solid white 5px;
}
/* ---------------------------------------------------- */
a{
    text-decoration: none;
}
h1{
    text-align: center;
    padding-top: 30px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}
/* ----------------------------------------- footer theme */
.first3{
    background-color: #7A08FA;
    margin: 20px ;
    border-radius: 10px;
    height: 150px;
    border: solid black 5px;
}
.second3{
    background-color: red;
    margin: 20px ;
    border-radius: 10px;
    height: 150px;
    border: solid white 5px;
}
/* ------------------------------------------------------ */
.list, li{
    padding-top: 10px;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
}
.list, a{
    color: black;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width:0px;
}
@media screen and (max-width: 800px) {
    .packages{
        grid-template-columns: repeat(3, 33%);
        padding-right: 4vw;
        padding-left: 4vw;
    }
    .package{
        width: 180px;
        height: 230px;
        padding: 10px;
    }
    .product-icon{
        width: 150px;
        height: 150px;
    }
    .name-product{
        height: 3vh;
        font-size: 14px;
        margin-bottom: 20px;
    }
    .price-product{
        font-size: 14px;
    }
    .empty-icon{
        height: 250px;
        width: 250px;;
    }
    .empty-name{
        font-size: 22px;
    }
    .item-line{
        width: 500px;
    }
    .empty{
        height: 250px;
        width: 250px;
    }
    .price-empty{
        font-size: 22px;
    }
    .rare{
        font-size: 22px;
    }
    .rar{
        font-size: 22px;
    }
    .treasure{
        font-size: 22px;
    }
    .data{
        font-size: 22px;
    }
}
/* Модальный (фон) */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Оставаться на месте */
    z-index: 1; /* Сидеть на вершине */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Включите прокрутку, если это необходимо */
    background-color: rgb(0,0,0); /* Цвет запасной вариант */
    background-color: rgba(0,0,0,0.4); /* Черный с непрозрачностью */
}
  
  /* Кнопка закрытия */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
    /* Модальный заголовок */

.modal-header {
    text-align: center;
    padding: 2px 16px;
    background-color: #7A08FA;
    color: white;
}
  /* Модальный нижний колонтитул */

.modal-footer {
    height:90px;
    padding: 2px 16px;
    background-color: #7A08FA;
    color: white;
}

  /* Модальное содержание/коробка */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% сверху и по центру */
    padding: 20px;
    border: 1px solid black;
    width: 80%; /* Может быть больше или меньше, в зависимости от размера экрана */
    text-align: center;
}
  
  /* Модальное содержание */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}
  
  /* Добавить анимация */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}