body{
    margin: 0px;
    background-color:black;
}
.first1{
    background-color: purple;
    margin: 20px ;
    border-radius: 20px;
}
.second1{
    background-color: red;
    margin: 20px ;
    border-radius: 20px;
}
.btn{
    background: transparent;
    border: none !important;
    font-size:0;
}
.logo{
    height: 60px;
    width: 60px;
    margin-right: 2vw;
}
.cart-icon{
    height: 50px;
    width: 50px;
}
.header-line{
    width: 100vw;
}
.nav{
    text-decoration: none;
    color: black;
    margin-right: 2vw;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Autour One', cursive;
    transition: 1s;
}
.nav:hover{
    color:azure;
    font-size: 25px;
}
.registration{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-right: 5vh;
    background-color: pink;
    padding:10px;
    border-radius: 10px;
    border-color: black;
    font-weight: 500;
    font-family: 'Comfortaa', cursive;
    margin-left: 82%;
    position: absolute;
}
.enter{
    text-decoration: none;
    color: black;
    font-size: 20px;
    background-color: pink;
    padding:10px;
    border-radius: 10px;
    border-color: black;
    font-weight: 500;
    font-family: 'Comfortaa', cursive;
    margin-left: 76%;
    position: absolute;
}
.header-line{
    padding-top: 15px;
    padding-left: 30px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
}
.packages{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    padding-right: 8%;
    padding-left: 8%;
    gap: 10px;
    top: 30px;
    margin-bottom:30px;
}
.package{
    color:black;
    background-color: pink;
    height: 300px;
    width: 220px;
    border-radius: 10px;
    padding: 10px;
    transition: 1s;
}
.package:hover{
    background-color: cornflowerblue;
    transform: scale(1.1);
}
.first2{
    background-color: purple;
    margin: 20px ;
    border-radius: 20px;
    padding-bottom:40px;
}
.second2{
    background-color: red;
    margin: 20px ;
    border-radius: 20px;
    padding-bottom:40px;
}
.product-icon{
    height: 200px;
    width: 200px;
    margin: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
}
.name-product{
    text-align: center;
    font-weight: 700;
}
.price-product{
    text-align: left;
    position:absolute;
    bottom:-5px;
}
a{
    text-decoration: none;
}
h1{
    text-align: center;
    padding-top: 30px;
}
.first3{
    background-color: purple;
    margin: 20px ;
    border-radius: 20px;
    height: 150px;
}
.second3{
    background-color: red;
    margin: 20px ;
    border-radius: 20px;
    height: 150px;
}
.list, li{
    padding-top: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}
.list, a{
    color: black;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width:0px;
}
