<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../kak.css">
    <link rel="icon" href="../images/amnyam.webp" type="image/webp">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Autour+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Agbalumo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">
    <title>Kak rabotaet?</title>
</head>
<body>
    <div class = "header">
        <div class = "container-1 first1">
            <div class = "header-line">
                <button class = "btn" type="button">
                    <div class = "header-logo">
                        <img class = "logo" src="../images/amnyam.webp" alt="">
                    </div>
                </button>
                <div class = "nav-bar">
                    <a class = "nav" href="/">Каталог</a>
                    <a class = "nav" href="/about/">Отзывы(не накрученные)</a>
                    <a class = "nav" href="/kak/">Как это работает</a>
                </div>
                <div class = "cart">
                    <a href="#">
                        <img class = "cart-icon" src="../images/invalid.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class = "main">
        <div class = "container-2 first2">
            <h1>Почему вам стоит отдать мне свои деньги</h1>
            <div class="list">
                <div class="prichina first4">
                    <img class = "kartinka" src="../images/babki2.png" alt="">
                    <p class = "pr">Выгодно</p>
                    <p class = "comm">О цене договоримся</p>
                </div>
                <div class="prichina first4">
                    <img class = "kartinka" src="../images/security.png" alt="">
                    <p class = "pr">Безопасно</p>
                    <p class = "comm">В случае обмана с моей стороны вы можете настучать мне по еблу</p>
                </div>
                <div class="prichina first4">
                    <img class = "kartinka" src="../images/laik.png" alt="">
                    <p class = "pr">Удобно</p>
                    <p class = "comm">С любым вопросом можно обратиться ко мне. Я помогу вам потратить ваши деньги</p>
                </div>
            </div> 
            <h1>Как происходит процесс передачи товаров</h1>
            <ol>
                <li>Вы выбираете понравившийся вам товар</li>
                <li>Пишите мне в Тг и прикрепляете скрин товара, который хотите приобрести</li>
                <li>Мы обговариваем цену</li>
                <li>Вы оплачиваете товар и отправляете мне скрин оплаты</li>
                <li class="rofl">Улетаете в мут</li>
                <li>Я добавляю вас в друзья в steam и по истечении 30 дней отправляю вам купленный товар</li>
            </ol>
        </div>
    </div>

    <div class = "footer">
        <div class = "container-3 first3">

        </div>
    </div>
    <script src="../JS/theme3.js"></script>
</body>
</html>